registry=https://pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/registry/:username=devjohnmogi
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/:username=devjohnmogi
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/devjohnmogi/_packaging/devjohnmogi/npm/:email=npm requires email to be set but doesn't use the value
; end auth token